<h1>Edit User</h1>

<%= form_with model: @user do |form| %>
  <%= form.label "Your username here" %><br>
  <%= form.text_field :username, value: "RailsPro" %>
   <% @user.errors.full_messages_for(:username).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </p>
  <p>
  <%= form.label :email %><br>
  <%= form.text_field :email, placeholder: "example@example.com" %>
  </p>
  <p>
  <%= form.label :password %><br>
  <%= form.password_field :password %>
  </p>
  <p>
  <%= form.submit %>
  </p>
<% end %>